/*colors*/
/*polices*/
form {
  background-color: #EAEAEA;
}
form input {
  border: none;
  background: none;
  padding: 12px;
  color: black;
  font-weight: bold;
}

.btn-gradient {
  background: linear-gradient(#FF79DA, #9356DC);
  border-radius: 50px;
  color: white;
  font-weight: bold;
  padding: 15px;
  border: none;
  font-size: 16px;
}

.btn-card {
  position: absolute;
  background: #99E2D0;
  z-index: 1;
  border-radius: 4px;
  color: #008766;
  right: 15px;
  top: 15px;
  padding: 6px;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 8px;
  padding-bottom: 8px;
  border: none;
  font-size: 16px;
}

body {
  font-family: Roboto, serif;
  color: black;
  max-width: 768px;
  margin: 0 auto;
}

header {
  margin-top: 20px;
  margin-bottom: 15px;
}
header img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 45%;
}

.menu {
  text-align: center;
  background-color: #F6F6F6;
  width: 100%;
  padding-bottom: 40px;
}
.menu h2 {
  font-weight: bold;
  padding-left: 35px;
  padding-right: 35px;
  padding-top: 20px;
  font-size: 25px;
  margin-bottom: 0px;
}
.menu p {
  padding-left: 35px;
  padding-right: 35px;
  font-weight: lighter;
  font-size: 18px;
}

.picture {
  width: 100%;
}

section {
  background: #F6F6F6;
  padding-top: 2em;
  padding-bottom: 4em;
}
section h2 {
  padding-left: 20px;
}
section .card {
  width: 90%;
  max-width: 100%;
  margin-bottom: 15px;
  background: white;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  border-radius: 10px;
}
section .card img {
  height: 150px;
  width: 150%;
  position: relative;
  max-width: 100%;
  max-height: 70%;
  border-radius: 10px 10px 0px 0px;
  -o-object-fit: cover;
     object-fit: cover;
}
section .card .card-description {
  display: flex;
  flex-direction: column;
  line-height: 0;
  position: relative;
  padding: 10px;
}
section .card .card-description h3 {
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 1.1em;
}
section .card .card-description p {
  font-size: 1em;
  font-weight: lighter;
}
section .card .card-description .fa-regular {
  position: absolute;
  top: 18px;
  right: 25px;
  font-size: 24px;
}

main ul {
  padding-left: 0px;
  list-style-type: none;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}
main ul li {
  display: flex;
  flex-direction: row;
  position: relative;
  background: #F6F6F6;
  border-radius: 15px;
  width: 95%;
  align-items: center;
  margin-bottom: 20px;
}
main ul li .number {
  position: absolute;
  left: -10px;
  border: none;
  border-radius: 100px;
  background-color: #9356DC;
  width: 25px;
  height: 25px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding-left: 0px;
  color: white;
}
main ul li .fa-solid {
  padding-left: 40px;
  padding-right: 20px;
}

footer {
  background-color: #353535;
  padding: 20px;
  color: white;
  line-height: 1.6em;
}
footer h4 {
  font-family: Shrikhand, serif;
  font-size: 1.2em;
  font-weight: normal;
  margin: 0 auto;
}
footer ul {
  margin-left: auto;
  margin-right: auto;
  padding: 0px;
  list-style-type: none;
}
footer ul li {
  background: transparent;
}
footer ul li .fa-utensils {
  font-size: 0.8em;
  padding-right: 12px;
}
footer ul li .fa-handshake-angle {
  font-size: 0.6em;
  padding-right: 12px;
}/*# sourceMappingURL=main.css.map */