$color-primary: #9356DC;
$color-secondary: #FF79DA;
$color-tertiary: #99E2D0;
$background: #F6F6F6;
$font1: Roboto, serif;
$font2: Shrikhand, serif;


body{
    font-family: $font1;
    color:black;
    max-width: 768px;
}

header {
    margin-top: 20px;
    margin-bottom: 15px;
    img {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 45%;
    }
}