.circle-line{
    display:flex;
    flex-direction: row;
    justify-content: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);

}

.circle{
    background: linear-gradient($color-secondary,$color-primary);
    width: 30px;
    height: 30px;
    border-radius: 30px;
    margin: 15px;
    position: relative;
}

.circle1{
    animation: movingcircle 1s infinite alternate;
}
.circle2{
    animation: movingcircle 1s 0.25s infinite alternate;
}
.circle3{
    animation: movingcircle 1s .4s infinite alternate;
}
.circle4{
    animation: movingcircle 1s .6s infinite alternate;
}

@keyframes movingcircle {
    0% {
        opacity: 1;
        top: 0px;
    }

    100% {
        opacity: 0;
        top: -50px;
    }
    
}

@keyframes contentcircle {
    0%{
        opacity: 1;
    }

    85%{
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

#content{
    animation: contentcircle 3s;
    animation-fill-mode: forwards;
    width: 100%;
    height: 100vh;
    position: fixed;
    background-color: white;
    left:0;
    right: 0;
    top:0;
    bottom:0;
    z-index:999;
}