/*colors*/

$color-primary: #9356DC;
$color-secondary: #FF79DA;
$color-tertiary: #99E2D0;
$main-backgrd: #F6F6F6;
$form-backgrd: #EAEAEA;
$card-btn: #99E2D0;
$card-btn-font: #008766;
$footer-backgrd: #353535;

/*polices*/

$font1: Roboto, serif;
$font2: Shrikhand, serif;