/*colors*/

$color-primary: #9356DC;
$color-secondary: #FF79DA;
$color-tertiary: #99E2D0;
$main-backgrd: #F6F6F6;
$form-backgrd: #EAEAEA; //couleur du form de l'accueil//
$clr-itemsmenu: #99E2D0; //couleur des élements du menu//
$card-btn: #99E2D0; //couleur button "nouveau"//
$card-btn-font: #008766; //couleur texte button "nouveau"//
$footer-backgrd: #353535;

/*polices*/

$font1: Roboto, serif;
$font2: Shrikhand, serif;