form {
    background-color: $form-backgrd;
    padding-left: 60px;
    box-shadow: inset 0px 2px 0px lightgrey;

    input{
        border: none;
        background: none;
        padding: 14px;
        color: black;
        font-weight: bold;
        font-size: 0.9em;
    }}